html,body,#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#gr-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  #gr-header {
    height: 2rem;
    background-color: gray;
  }

  #gr-body {
    width: 100%;
    height: 100%;
    display: flex;

    #gr-left-sidebar {
      flex: 0 0 20%;
      // background-color: gray;
    }

    #gr-content {
      flex: 0 0 80%;
      background-color: skyblue;
    }
  }
}

.titlebar {
  height: 100%;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
}

.titlebar-button:hover {
  background: #5bbec3;
}