html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 3px;
}

#gr-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  #gr-header {
    height: 100%;
    width: 100%;
    flex: 0 0 2rem;
    background-color: gray;

    #titlebar {
      height: 100%;
      min-height: 100%;
      background: rgb(196, 196, 196);
      user-select: none;
      display: flex;
      justify-content: flex-end;
    }

    .titlebar-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 2rem;
      color: #000000;
    }

    .titlebar-button:hover {
      background: #ffffff;
    }
  }

  #gr-body {
    flex: 0 0 calc(100% - 2rem);
    height: calc(100% - 2rem);
    width: 100%;
    display: flex;

    #gr-left-sidebar {
      width: 100%;
      flex: 0 0 20%;
    }

    #gr-content {
      width: 100%;
      flex: 0 0 80%;
    }
  }
}
